<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="configFilePath" value="C:\Users\yitzh_000\Documents\Visual Studio 2013\Projects\RazorGrip\PSS\Client\C4PSSClientApp\app.config"/>
    <add key="localhost" value="localhost"/>
    <add key ="remotehost" value="10.0.0.148"/>
  </appSettings>
</configuration>