<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="schedularSection" type="RgInfrastructure.TaskSchedular.Configurations.SchedularSection,RgInfrastructure.TaskSchedular" />
  </configSections>
  <schedularSection>
    <schedularList>
      <add name="SensorsFilesRefresh" interval="5000" isActive="1">
      </add>
      <add name="NewDeviceRefresh" interval="5000" isActive="1">
      </add>
      <add name="SystemInfoRefresh" interval="5000" isActive="1">
      </add>
      <add name="ComunicationRefresh" interval="5000" isActive="1">
      </add>
    </schedularList>
  </schedularSection>
  <!--CC-Milano 10.0.0.148-->
  <!--localhost-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <!--For production-->
          <!--<security mode="Message">
                <message clientCredentialType="Windows"/>
              </security>-->
        </binding>
        <binding name="tcpLargeMessageStream" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          <security mode="None" />
          <!--For production-->
          <!--<security mode="Message">
                <message clientCredentialType="Windows"/>
              </security>-->
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.0.0.148:6001/UserManageService" binding="netTcpBinding" bindingConfiguration="customTcpBinding" contract="C4PSSCommon.Interfaces.Services.IUserManageService">
      </endpoint>
      <endpoint address="net.tcp://10.0.0.148:6001/LanguageService" binding="netTcpBinding" bindingConfiguration="customTcpBinding" contract="RGInfrastructure.Localization.Interfaces.ILanguageService">
      </endpoint>
      <endpoint address="net.tcp://10.0.0.148:6001/AgentsService" binding="netTcpBinding" bindingConfiguration="customTcpBinding" contract="C4PSSCommon.Interfaces.Services.IAgentsService">
      </endpoint>
      <endpoint address="net.tcp://10.0.0.148:6001/CommandsService" binding="netTcpBinding" bindingConfiguration="customTcpBinding" contract="C4PSSCommon.Interfaces.Services.ICommandsService">
      </endpoint>
      <endpoint address="net.tcp://10.0.0.148:6001/LogService" binding="netTcpBinding" bindingConfiguration="customTcpBinding" contract="RGInfrastructure.Logs.Interfaces.ILogService">
      </endpoint>
      <endpoint address="net.tcp://10.0.0.148:6002/FileService" binding="netTcpBinding" bindingConfiguration="tcpLargeMessageStream" contract="C4PSSCommon.Interfaces.Services.IFileService">
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>